<footer class="header-footer">  
    <div class="wrapper">
         <a href="https://fr.linkedin.com/in/dorian-massoulier-310630179" target="_blank">
            <i class="fa fa-2x fa-linkedin-square"></i>
        </a>
        <a href="https://github.com/MassDo/Projet-7-GrandPy" target="_blank">
            <i class="fa fa-2x fa-github-square"></i>
        </a>
        <a href="https://www.facebook.com/dorian.massoulier" target="_blank">
            <i class="fa fa-2x fa-facebook-square"></i>
        </a> 
    </div> 
    <div class="signature">
        Dorian Massoulier
    </div>      
</footer> 