{% extends 'layouts/base.html' %}

{% block body %}

<aside class="aside-left" ></aside>

<main class="main" onload="loader()">
    {# zone of the bubbles chat #}
    <div class="response">
        <div class="zone first">
            <div class="bubble bot">Salut mon p'tit ! <br>
            </div>
        </div>
        <div class="zone first">
            <div class="bubble bot">
             Je suis GrandPy le papy robot !<br>
            </div>
        </div>
        <div class="zone first">
            <div class="bubble bot">Donne-moi un lieu à trouver et je te donnerai son adresse sur une carte, et en prime tu auras droit à une anecdote !<br><br> {# Car oui à 124 ans j'en ai des choses à dire, et tu as bien une seconde à m'accorder ahah !<br><br> #} Cuf Cuf Cuf... Excuse-moi c'est encore ma vieille toux ! </div>
        </div>
    </div>
    {# user input textarea and submit button #}
    <div class="input">
        <textarea id="ajaxTextbox" onkeyup="textAreaAdjust(this)" placeholder="Demander à GrandPy !"></textarea>
        <input id="ajaxButton" type="submit" value="Envoyer" style="cursor: pointer;">
    </div>

</main>

<aside class="aside-right"></aside>

<script type="text/javascript" src="{{url_for('static', filename='ajaxPost.js')}}"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEIv6g--KN1RoNNBDrkLM9UQnGQrkf3_Y&callback=initMap">
</script>
{% endblock %}