{% extends 'layouts/base.html' %}

{% block body %}

<!-- CHAT BUBBLES ! -->
<div id="chat" class="container">
    <!-- With Name and Arrow - LEFT -->
    <div class="msg">
      <div class="bubble">
        <div class="txt"> 
          <span class="name">GrandPyBot</span>
          <span class="timestamp">10:20 pm</span>      
          <span class="message">
            Can you believe this amazing chat bubbles? It's all CSS
          </span> 
          
        </div>
      </div>
    </div>  

    <!-- With Name and Arrow - RIGHT -->
    <div class="msg">
      <div class="bubble alt">
        <div class="txt">
          <span class="name alt">Moi</span>
          <span class="timestamp">10:22 pm</span><!-- fait -->
          <p class="message">It's nuts, dude. Nuts</p>
        </div>
      </div>
    </div>  
</div>

<!-- USER INPUT -->
<div id="container">
    <div id="input">
        <textarea data-autoresize rows="2" placeholder="Demandez à GrandPy ! :)" id="ajaxTextbox" ></textarea>
        <input type="submit" id="ajaxButton" value="Envoyer">
    </div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="{{url_for('static', filename='test.js')}}"></script>
<!-- <div id="background">
    <br><br><br><br><br><br><br><br><br><br>
    <div id="chatZone" class="image"></div>

    <div id="chatTextZone" class="image"> 
        <textarea id="ajaxTextbox" autocomplete="off" contentEditable></textarea>
        <input type="submit" id="ajaxButton" style="cursor: pointer;" value="Envoyer">
    </div>    
    
    <script type="text/javascript" src="{{url_for('static', filename='test.js')}}"></script>             
</div> 

   --> 

{% endblock %}

{# TODO
    

    

 #}


