    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet"  href="test.css"> -->
        <title>test d'envoie de texte</title>
    </head>
    <body>
        <h1>texte a remplacer par data</h1> 
    <script type="text/javascript">
        let data = '{{ data }}';
        let url = "{{url_for('test')}}" 
    </script> 
    <script type="text/javascript" src="{{ url_for('static', filename='ajaxPost.js'}}"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename = 'test.js') }}"></script> 
    </body>
    </html> 